<div class="container">
  <div class="container d-flex justify-content-between">

    <a class="btn btn-primary mt-5" style="height: fit-content;" href="/feed/"><i class="fas fa-arrow-left"></i>  Feed</a>
    <h1 class="mt-5">{{username}}</h1>
    {{#if (eq auth.username username) }}
    <div>
      <a class="btn btn-primary mt-5" style="height: fit-content;" href="/post/{{username}}"><i
          class="fas fa-plus-square"></i> Post</a>
      <a class="btn btn-primary mt-5" style="height: fit-content;" href="/edit/{{username}}"><i
          class="fas fa-edit"></i>  Edit</a>
      <a class="btn btn-primary mt-5" style="height: fit-content;" href="/delete/{{username}}"><i
          class="fas fa-user-minus"></i>  delete</a>
    </div>
    {{/if}}
  </div>

  <div class="pt-5 container">
    <p id="top"></p>
    <div class="row  justify-content-center">
      {{#each post}}
      <div class="m-5 col-12" id="{{id}}">
        <div class="card mt-3 m-auto" style="width: 75%;">
          <img src="/images/{{image}}" class="card-img-top" alt="Post by {{username}}">
          <div class="card-body">
            <h5 class="card-title">{{username}}</h5>
            <h6>{{description}}</h6>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>